/* ======common css start======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: unset !important;
}
.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: none;
} 
.nav-item.active .nav-link{
    color:#de4644;
}
/* ======common css end======== */

/* ======header css start======== */
#header{
    background-color: #444444;
}
.header-text{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.header-text p{
    font-family: 'Open Sans', sans-serif;
    color: #ddd; 
    font-size: 14px;
    font-weight: 300;  
}
.nav-item .nav-link{
    font-family: 'Open Sans', sans-serif;
    color: #ddd; 
    font-size: 14px;
    font-weight: 300;
    margin-top: -7px;
}
.header-text i{
    margin-left: 5px;
}
.header-dolar{
    position: relative;
}
.header-dolar::after{
    content: "";
    position: absolute;
    height: 55px;
    width: 1px;
    background-color: #ddd;
    bottom:0px;
    left: -10px;
}
.header-dolar::before{
    content: "";
    position: absolute;
    height: 55px;
    width: 1px;
    background-color: #ddd;
    bottom:0px;
    left: 95px;
}
/* ======header css end======== */

/* ======navbar css start======== */
.navbar-expand-lg .navbar-collapse {
	margin-left: 150px;
}
.navbar{
    /* padding-top: 30px;
    padding-bottom: 30px; */
    background-color:#fff;
    position: absolute;
    width: 100%;
    position: absolute;
    left: 0;
     top:40px; 
    z-index: 999; 
    padding: 30px 0;
}
.navbar-nav .nav-link{
    margin-right: 15px;
    color:#222222;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    position:relative;
    transition: linear .3s;
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
}
.navbar-nav .nav-link:hover.nav-link{
    color:#e25d5b;
}
.navbar-nav .nav-link:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background-color:#e25d5b;
    position: absolute;
    top:40px;
    left: 10px;
}
.navbar-nav .nav-link:hover::before{
    content: "";
    width: 30%;
    height: 2px;
    background-color:#e25d5b;
    position: absolute;
    top:45px;
    left: 10px;
}
.navbar-search{
    margin-left: 200px;
    padding-top: 10px;
}
.navbar-search i {
    color: #000;
	margin-left: -33px;
}
.navbar-search p{
    margin-left: 80px;
    color:#222222;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.navbar-search p:hover{
    color:#de4644;
}
.navbar-search i:hover{
    color: #de4644;
}
/* ======nabvar css end======== */

/* ======nabvar sticky css start======== */
.sticky{
    top:0;
    width: 100%;
    left: 0;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    box-shadow: -1px 7px 8px -6px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 7px 8px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 8px -6px rgba(0,0,0,0.51);
    animation: sticky 2s;
    -webkit-animation: sticky 2s;
}
@keyframes sticky{
    from{
        top:-100px;

    }
    to{
        top:0;
    }
}
.navbar.sticky .nav-link{
    color:#000;
}
.navbar.sticky .nav-item:hover .nav-link{
    color: #de4644;
  } 
 .navbar.sticky{
      background-color:hsl(209, 89%, 74%);
  }
/* ======nabvar sticky css end======== */

/* ======banner css start======== */
#banner{
    padding-top: 80px;
}
.banner-main{
    position: relative;
}
.banner-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hwb(0 32% 68% / 0.6);
    top:0;
    left: 0;
}
.banner-text{
    padding-top: 55px;
}
.banner-text h1{
    color: #de4644;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 70px;
}
.banner-text h3{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}
.banner-text p{
    color:#f1f1f1;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.banner-btn{
    padding-top: 15px;
}
.banner-btn button{
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.banner-btn button:hover{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #de4644;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.banner-arrow{
    margin-top: 380px;
    text-align: center;
}
.banner-arrow i{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 5px;
}
.banner-arrow :hover{
    background-color: #de4644;
    border: none;
}
.slick-dots{
    position: absolute;
    bottom: 0px;
    left: 655px;
    transform: translateX(-50%);
}
.slick-dots li{
    display:inline-block;
    margin-left: 7px;
    height: 26px;
    width: 28px;
    background-color: transparent;
}
.slick-dots li button{
    background-color:#de4644;
    height: 26px;
    width: 28px;
    border: none;
    color: transparent;
    line-height: 20px;
    opacity: 0;
}
.slick-dots li.slick-active button{
    opacity: 1;
}
/* ======banner css end======== */

/* ======service css start======== */
#service{
    background-color: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 25px;
}
.service-content{
    position: relative;
}
.service-content h3{
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.service-content:hover.service-content h3{
    color: #de4644;
}
.service-content p{
    padding-top:5px;
    color:#444444;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.service-content i{
   transform: rotateY(160deg);
   -webkit-transform: rotateY(160deg);
   -moz-transform: rotateY(160deg);
   -ms-transform: rotateY(160deg);
   -o-transform: rotateY(160deg);
}
.service-content:hover::after{
    content: "";
    position: absolute;
    width: 1px;
    height:152px;
    top:-30px;
    left: 0;
    background-color: #dddddd;
}
.service-content:hover::before{
    content: "";
    position: absolute;
    width: 1px;
    height:152px;
    top:-30px;
    left: 100%;
    background-color: #dddddd;
}
/* ======service css end======== */

/* ======gellary css start======== */
#gellary{
    padding-top: 100px;
    padding-bottom: 100px;
}
.gellary-item{
    position: relative;
}
.gellary-img .overlay{
    position: absolute;
    width: 90%;
    height: 150px;
    background-color: hsla(0, 0%, 0%, 0.8);
    top:215px;
    left: 18px;
}
.gellary-text h2{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
}
.gellary-text h3{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
}
.gellary-btn button{
    margin-top: 5px;
    padding: 12px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.gellary-btn button:hover{
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #de4644;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* ======gellary css end======== */

/* ======product css start======== */
#product{
    padding-bottom: 100px;
}
.product-head{
    padding-bottom: 60px;
}
.product-head h3{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
}
.product-head h3::after{
    content: "";
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #de4644;
    top:60px;
    left: 100px;
}
.product-head h3::before{
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background-color: #de4644;
    top:65px;
    left: 100px;
} 
.product-head-list span{
    padding-right: 15px;
    padding-left: 15px;
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    position: relative;
}
.product-head-list span:hover{
    color: #de4644;
}
.product-head-list span::after{
    content: "";
    width: 1px;
    height: 100%;
    background-color: #444444;
    position: absolute;
    top:0px;
    left: 0px;
}
.products-item{
    padding-top:30px;
}
.products-img{
   position: relative; 
}
.products-item .overlay{
    position: absolute;
    height: 100%;
    width: 115px;
    background-color: hsla(0, 0%, 0%, 0.8);
    top:0px;
    right:0px;
    opacity: 0;
    transition:all linear .5s;
    -webkit-transition:all linear .5s;
    -moz-transition:all linear .5s;
    -ms-transition:all linear .5s;
    -o-transition:all linear .5s;
}
.products-item:hover.products-item .overlay{
    opacity: 1;
}
.products-overlay-icon{
   padding-top: 55px; 
}
.products-overlay-icon i{
    height: 50px;
    width: 50px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 24px;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.products-overlay-icon i:hover{
    background-color: #de4644;
    border: none;
}
.products-overlay-icon .icon-2{
    padding-top: 35px;
    padding-bottom: 35px;
}
.products-text{
    padding-top: 7px;
}
.products-text p{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
.products-text span{
    margin-left: 60px;
}
.products-text-icon i{
    color: #de4644;
}
/* ======pruduct css end======== */

/* ======microsoft css start======== */
#microsoft{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f1f1f1;
}
.microsoft-text h5{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
.microsoft-text h3{
    color: #de4644;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
}
.microsoft-text p{
    color:#444444;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.microsoft-text h6{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
#clockdiv{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
	color: #444;
	display: inline-block;
	text-align: center;
}
#clockdiv > div{
    padding: 5px 10px;
    border: 1px solid #353535;
    background: transparent;
    display: inline-block;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    margin-right: 30px;
}

/* ======microsoft css end======== */

/* ======letest css start======== */
#letest{
    padding-top: 100px;
    padding-bottom: 100px;
}
.letest-head{
    padding-bottom: 60px;
}
.letest-head h3{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
}
.letest-head h3::after{
    content: "";
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #de4644;
    top:60px;
    left: 125px;
}
.letest-head h3::before{
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background-color: #de4644;
    top:65px;
    left: 125px;
} 
.letest-item{
    margin-left: 12px;
    margin-right: 12px;
}
.letest-arrow{
    margin-top: 10px;
    text-align: center;
}
.letest-img{
    position: relative; 
 }
 .letest-item .overlay{
    position: absolute;
    height: 100%;
    width: 115px;
    background-color: hsla(0, 0%, 0%, 0.8);
    top:0px;
    right:0px;
    opacity: 0;
    transition:all linear .5s;
    -webkit-transition:all linear .5s;
    -moz-transition:all linear .5s;
    -ms-transition:all linear .5s;
    -o-transition:all linear .5s;
}
.letest-item:hover.letest-item .overlay{
    opacity: 1;
}

.products-text span{
    margin-left: 40px;
}

.letest-arrow i{
    border: 1px solid #444444;
    color: #222222;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 5px;
}
.letest-arrow :hover{
    background-color: #de4644;
    border: none;
    color: #fff;
}
/* ======letest css end======== */

/* ======testimonial css start======== */
#testimonial{
    padding-bottom: 100px;
}
.testimonial-head h3{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 60px;
}
.testimonial-head h3::after{
    content: "";
    position: absolute;
    width: 130px;
    height: 1px;
    background-color: #de4644;
    top:60px;
    left: 170px;
}
.testimonial-head h3::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #de4644;
    top:65px;
    left: 170px;
}
.testimonial-bac{
    position: relative;
}
.testimonial-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.6);
    top:0;
    left: 0;
}
.testimonial-img{
    margin-top: 30px;
    height: 110px;
    width: 110px;
    background-color: #fff;
    overflow: hidden;
    border: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonial-text{
    padding-top: 30px;
    margin-left: -40px;
}
.testimonial-text h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
	color: #fff;
    text-transform: capitalize;
}
.testimonial-text h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
	color: #fff;
    text-transform: capitalize;
}
.testimonial-text p{
    padding-top: 10px;
    color:#f1f1f1;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.signatur p{
    font-family: 'Autour One', cursive;
    color:#f1f1f1;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-style: italic;
    margin-top: -20px;
}
.testimonial-arrow i{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 5px;
}
.testimonial-arrow :hover{
    background-color: #de4644;
    border: none;
    color: #fff;
}
/* ======testimonial css end======== */

/* ======blog css start======== */
#blog{
    padding-bottom: 100px;
}
.blog-head{
    padding-bottom: 60px;
}
.blog-head h3{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
}
.blog-head h3::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background-color: #de4644;
    top:60px;
    left: 195px;
}
.blog-head h3::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #de4644;
    top:65px;
    left: 195px;
}
.blog-img{
    position: relative;
}
.blog-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.8);
    top:0;
    left: 0;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog-img:hover .blog-overlay{
    opacity: 1;
}
.blog-date{
    padding-top: 15px;
    margin-left: 20px;
}
.blog-date h6{
    color:#dddddd;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.blog-link{
    margin-top: 110px;
    text-align: center;
}
.blog-link i{
    color: #ddd;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.blog-icon{
    margin-top: 80px;
    color: #ddd;
}
.blog-icon span{
    margin-left: 25px;
    color:#dddddd;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}
.blog-text{
    padding-top: 25px;
}
.blog-text h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
	color: #222222;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.blog-text p{
    color:#444;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-bottom: 15px;
}
.blog-text h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
    text-transform: uppercase;
    transition:all linear .3s ;
    -webkit-transition:all linear .3s ;
    -moz-transition:all linear .3s ;
    -ms-transition:all linear .3s ;
    -o-transition:all linear .3s ;
}
.blog-text i{
    margin-left: 15px;
}
.blog-text h6:hover{
    color: #de4644;
}
/* ======blog css end======== */

/* ======footer css start======== */
#footer{
    padding-top: 60px;
    padding-bottom: 45px;
    background-color: #353535;
}
.footer-one p{
    color:#dddddd;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}
.footer-head{
    padding-bottom: 30px;
}
.footer-head h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
.footer-two .call{
    padding-top: 12px;
}
.footer-two .massage{
    padding-top: 12px;
    padding-bottom: 12px;
}
.footer-two p{
    color:#dddddd;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.footer-two i{
    margin-right: 15px;
}
.footer-account p{
    color:#dddddd;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.footer-account p:hover{
    color: #de4644;
}
form{
    padding-bottom: 30px;
}
form input{
    position: relative;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 25px;
    background-color: transparent;
    text-transform: capitalize;
}
form input:focus{
    outline: none;
}
form input::placeholder{
    font-style: italic;
}
form button{
    position: absolute;
    background-color: #de4644;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 18px;
    margin-left: -6px; 
}
.footer-icon i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    color:#000;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.footer-icon i:hover{
    background-color: #de4644;
    color: #fff;
}
/* ======footer css end======== */

/* ======back to top css start======== */
.back-to-top{
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: none;
    animation: top 3s;
    -webkit-animation: top 4s;
}
.back-to-top i{
   width: 30px;
   height: 30px;
   background-color: #de4644;
   color:#fff;
   line-height: 30px;
   text-align: center;
   font-size: 20px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
@keyframes top{
    0%{
        top:-0px;           
    }
    10%{
        top:0;
    }
    50%{
        top:100%;
    }
    100%{
        top:90%;
       
    } 
}
/* ======back to top css end======== */

/* ======copyright css start======== */
#copyright{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #555555;
}
.copyright-text p{
    color:#dddddd;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}
.copyright-text span{
    color: #de4644;
}
/* ======copyright css end======== */

/* ======preloader css start======== */
#overlayer {
  width:100%;
  height:100%;  
  position:absolute;
  z-index:1;
  background:#000;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index:3;
  border: 4px solid #Fff;
  top: 50%;
  left: 50%;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* ======preloader css end======== */

/* ======hamburger css start======== */
.container ul.toggle{
    position: fixed;
    z-index: 5;
    top: 3%;  right: 0%;
    width: 50px;   height: 30px;
    cursor: pointer;
}
.container ul.toggle li{
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    height: 2px;  width: 50%;
    list-style: none;
    background: #000;
    transition: .9s;
}
.container ul.toggle li:nth-of-type(1){
    top: 20%;
}
.container ul.toggle li:nth-of-type(2){
    top: 50%;
}
.container ul.toggle li:nth-of-type(3){
    top: 80%;
}
.container ul.toggle.active li:nth-of-type(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.container ul.toggle.active li:nth-of-type(2){
    left: -100%;
    opacity: 0;
}
.container ul.toggle.active li:nth-of-type(3){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
} 
/* ======hamburger css end======== */

/* ======about-page css start======== */

/* ======about-page banner css start======== */
#about-page #about-banner{
        padding-top: 108px;
        padding-bottom: 100px;
    }
#about-page .about-banner-img{
    position: relative;
}
#about-page .about-banner-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-color: hsla(0, 0%, 0%, 0.4);
}
#about-page .about-ban-overlay-text{
    text-align: center;
}
#about-page .about-ban-overlay-text h3{
    color: #fff;
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}
#about-page .about-ban-overlay-text p{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
#about-page .about-ban-overlay-text span{
    color: #de4644;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/* ======about-page banner css end======== */

/* ======about-page t-shirt banner css start======== */
 #about-page .t-shirt-shape{
   position: relative;
}  
#about-page .t-shirt-overlay{
    position: absolute;
    left: -90px;
    top: 30px;
    width: 100%;
    height: 350px;
    background-color: hsla(0, 0%, 0%, 0.8);
    z-index: 999;
}
#about-page .t-shirt-content{
    padding-top: 40px;
    margin-left: 30px;
}
#about-page .t-shirt-content p{
    color: #dddddd;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;

}
/* ======about-page t-shirt banner css end======== */

/* ======about counup css start======== */
#about-page #about-counup{
    padding-top: 80px;
    padding-bottom: 80px;
}
#about-page .counup-banner{
    position: relative;
}
#about-page .counup-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-color: hsla(0, 0%, 0%, 0.8);
}
#about-page .counup-text{
    padding-top: 10px;
}
#about-page .counup-text p{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
#about-page .counup-text h3{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}
/* ======about counup css end======== */

/* ======about desgin css start======== */
#about-page #design{
    padding-bottom: 100px;
}
#about-page .desgin-head{
    padding-bottom: 30px;
}
#about-page .desgin-head h3{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
}
#about-page .desgin-head h3::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #de4644;
    top:60px;
} 
#about-page .desgin-item{
    position: relative;
}
#about-page .desgin-overlay{
    position: absolute;
    height: 100%;
    width: 35%;
    right: 0;
    top:0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}
#about-page .desgin-item:hover .desgin-overlay{
    opacity: 1;
}
#about-page .desgin-overlay-icon{
    padding-top: 40px;
}
#about-page .desgin-overlay-icon i{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#about-page .desgin-overlay-icon i:hover{
    background-color: #de4644;
    border: none;
}
#about-page .design-text{
    text-align: center;
    border: 1px solid #777777;
    border-top: none;
    padding-top: 10px;
}
#about-page .design-text h4{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
}
#about-page .design-text p{
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
/* ======about desgin css end======== */

/* ======about market css start======== */
#market{
    padding-bottom: 100px;
}
.market-arrow{
    margin-bottom: -67px;
    margin-left: -20px;
}
.market-arrow i{
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 5px;
}
.market-arrow-right{
    margin-top: -67px;
    margin-left: 100%;
}
.market-arrow-right i{
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 5px;
}
.market-arrow :hover{
    background-color: #de4644;
    border: none;
}
.market-arrow-right :hover{
    background-color: #de4644;
    border: none;
}
.market-img img:hover{
    box-shadow: -4px 0px 4px 2px rgba(0,0,0,0.86);
    -webkit-box-shadow: -4px 0px 4px 2px rgba(0,0,0,0.86);
    -moz-box-shadow: -4px 0px 4px 2px rgba(0,0,0,0.86);
}
/* ======about market css end======== */
/* ======about-page css end======== */

/* ======contact-page part css start======== */

/* ======contact-page banner css start======== */
#contact-page #about-banner{
    padding-top: 108px;
}
#contact-page .about-banner-img{
position: relative;
}
#contact-page .about-banner-overlay{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top:0;
background-color: hsla(0, 0%, 0%, 0.4);
}
#contact-page .about-ban-overlay-text{
text-align: center;
}
#contact-page .about-ban-overlay-text h3{
color: #fff;
padding-top: 40px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 24px;
text-transform: uppercase;
}
#contact-page .about-ban-overlay-text p{
color: #fff;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
}
#contact-page .about-ban-overlay-text span{
color: #de4644;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
}
/* ======contact-page banner css end======== */
/* ======contact-page contact css start======== */
#contact-page #contact{
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact-page .conatact-haed h4{
    padding-bottom: 10px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
#contact-page .conatact-haed p{
    font-family: 'Open Sans', sans-serif;
    color: #444444; 
    font-size: 14px;
    font-weight: 300;
}
#contact-page .contact-form input{
    padding-right: 130px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
}
#contact-page .contact-form input:focus{
    outline: none;
}
#contact-page .contact-form input::placeholder{
    font-family: 'Open Sans', sans-serif;
    color: #777777; 
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}
#contact-page .contact-form textarea{
    padding-right: 480px;
    padding-left: 10px;
    padding-bottom: 60px;
    margin-top: 10px;
}
#contact-page .contact-form textarea:focus{
    outline: none;
}
#contact-page .contact-icon i{
    color:#de4644;
    margin-right: 20px;
}
#contact-page .contact-icon p{
    font-family: 'Open Sans', sans-serif;
    color: #444444; 
    font-size: 14px;
    font-weight: 300;
}

/* ======contact-page contact css start======== */
/* ======about map css start======== */
#contact-page #map{
    padding-bottom: 100px;
}
#contact-page .map-head iframe{
    width: 100%;
}
/* ======about map css end======== */
/* ======contact-page part css end======== */

/* ======eror-page part css start======== */
/* ======eror-page banner css start======== */
#eror-page #about-banner{
    padding-top: 108px;
}
#eror-page .about-banner-img{
position: relative;
}
#eror-page .about-banner-overlay{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top:0;
background-color: hsla(0, 0%, 0%, 0.4);
}
#eror-page .about-ban-overlay-text{
text-align: center;
}
#eror-page .about-ban-overlay-text h3{
color: #fff;
padding-top: 40px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 24px;
text-transform: uppercase;
}
#eror-page .about-ban-overlay-text p{
color: #fff;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
}
#eror-page .about-ban-overlay-text span{
color: #de4644;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
}
/* ======eror-page banner css end======== */

/* ======eror-page banner css end======== */
#eror-page #eror{
    padding-top: 100px;
    padding-bottom: 100px;
}
#eror-page .eror-text p{
    padding-top: 30px;
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
#eror-page .eror-btn{
    padding-top: 30px;
}
#eror-page .eror-btn button{
    padding: 12px 20px;
    background-color: #de4644;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    border:none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
/* ======eror-page banner css end======== */
/* ======eror-page part css end======== */

/* ======checkout-page part css start======== */
/* ======checkout-page banner css start======== */
#checkout-page #about-banner{
    padding-top: 108px;
}
#checkout-page .about-banner-img{
position: relative;
}
#checkout-page .about-banner-overlay{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top:0;
background-color: hsla(0, 0%, 0%, 0.4);
}
#checkout-page .about-ban-overlay-text{
text-align: center;
}
#checkout-page .about-ban-overlay-text h3{
color: #fff;
padding-top: 40px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 24px;
text-transform: uppercase;
}
#checkout-page .about-ban-overlay-text p{
color: #fff;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
}
#checkout-page .about-ban-overlay-text span{
color: #de4644;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
}
/* ======checkout-page banner css end======== */

/* ======checkout css start======== */
#checkout-page #checkout{
    padding-top: 100px;
    padding-bottom: 100px;
}
#checkout-page .checkout-haed{
    margin-bottom: 40px;
}
#checkout-page .checkout-haed span{
    color: #de4644;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
#checkout-page .checkout-haed p{
    font-family: 'Open Sans', sans-serif;
    color: #777777; 
    font-size: 14px;
    font-weight: 300;
}
#checkout-page .checkout-haed .shipping{
    font-family: 'Open Sans', sans-serif;
    color: #777777; 
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    margin-left: 70px;
    position: relative;
}
#checkout-page .checkout-haed .shipping::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: -40px;
    top:0;
    background-color: #444444;
}
#checkout-page .checkout-haed{
    position: relative;
}
#checkout-page .checkout-haed::after{
    content: "";
    position: absolute;
    left: 0;
    top:-10px;
    height: 1px;
    width: 100%;
    background-color: #dddddd;
}
#checkout-page .checkout-haed::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:-10px;
    height: 1px;
    width: 100%;
    background-color: #dddddd;
}
#checkout-page .checkout-form input{
    /* padding-right: 130px; */
    padding-left: 10px; 
    width: 100%;
    margin-top: 12px;
    margin-right: 20px;
}
#checkout-page .checkout-form .lol{
    width: 49%;
    margin-right: 5px;
}
#checkout-page .checkout-form input:focus{
    outline: none;
}
#checkout-page .checkout-form input::placeholder{
    font-family: 'Open Sans', sans-serif;
    color: #777777; 
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}
#checkout-page .checkout-form textarea{
    /* padding-right: 480px; */
    width: 100%;
    padding-left: 10px;
    padding-bottom: 60px;
    margin-top: 10px;
    resize: none;
}
#checkout-page .checkout-form textarea::placeholder{
    font-family: 'Open Sans', sans-serif;
    color: #777777; 
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}
#checkout-page .checkout-form textarea:focus{
    outline: none;
}
#checkout-page .checkout-right{
    border: 1px solid #dddddd;
}
#checkout-page .checkout-right h5{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
#checkout-page .checkout-right P{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 10px;
    padding-top: 10px;
    border-top: 1px solid #dddddd;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#checkout-page .checkout-right span{
    margin-left: 170px;
}
#checkout-page .checkout-right P:hover{
    border-top:1px solid #de4644;
}
#checkout-page .payment{
    padding-top: 40px;
}
#checkout-page .checkout-haed h5{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
}
#checkout-page .checkbox input{
    margin-right: 20px;
}
#checkout-page .checkbox h4{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
#checkout-page .checkbox p{
    font-family: 'Open Sans', sans-serif;
    color: #777777; 
    font-size: 14px;
    font-weight: 300;
}
#checkout-page .checkbox h5{
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
#checkout-page .checkout-btn{
    padding-top: 10px;
}
#checkout-page .checkout-btn button{
    padding: 12px 20px;
    background-color: #de4644;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    border:none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
/* ======checkout css end======== */
/* ======checkout-page part css end======== */

/* ======blog-page part css start======== */
/* ======blog-page banner css start======== */
#blog-page #about-banner{
    padding-top: 108px;
}
#blog-page .about-banner-img{
position: relative;
}
#blog-page .about-banner-overlay{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top:0;
background-color: hsla(0, 0%, 0%, 0.4);
}
#blog-page .about-ban-overlay-text{
text-align: center;
}
#blog-page .about-ban-overlay-text h3{
color: #fff;
padding-top: 40px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 24px;
text-transform: uppercase;
}
#blog-page .about-ban-overlay-text p{
color: #fff;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
}
#blog-page .about-ban-overlay-text span{
color: #de4644;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
}
/* ======blog-page banner css end======== */

/* ======blog-page gellary css start======== */
#blog-page #blog-gellary{
    padding-top: 100px;
    padding-bottom: 100px;
}
#blog-page .blog-gellary-page{
    border: 1px solid #dddddd;
    margin-bottom: 30px;
    padding: 10px 0;
}
#blog-page .blog-gellary-page .blog-gellary-icon i{
    border: 1px solid #dddddd;
    padding: 5px 5px;
    margin-left: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#blog-page .blog-gellary-page .blog-gellary-icon i:hover{
    border: none;
    color: #de4644;
}
#blog-page .blog-gellary-icon span{
    padding-left: 250px;
}
/* ======blog-page gellary css end======== */
/* ======blog-page part css end======== */